asgiref
crispy-bootstrap5
Django
django-crispy-forms
django-auth
six
django-authentication
django-braces
django-extensions
six
django-environ
pillow
pip
pipdeptree
setuptools
sqlparse
wheel
dj_database_url