alembic
annotated-types
apparmor
appdirs
argon2
argon2-cffi
argon2-cffi-bindings
asgiref
attrs
Authlib
autocommand
autopep8
azure-common
azure-core
azure-identity
azure-mgmt-core
azure-mgmt-rdbms
azure-mgmt-resource
azure-mgmt-subscription
Babel
bcrypt
beautifulsoup4
bidict
blinker
boto3
botocore
Brotli
bson
btrfsutil
CacheControl
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
coloredlogs
conditional
contourpy
coverage
crispy-bootstrap5
cryptography
cssbeautifier
cssselect
cupshelpers
customtkinter
cycler
darkdetect
dbus-python
decorator
defusedxml
distlib
distro
Django
django-crispy-forms
django-email
django-environ
djlint
dnspython
docopt
docutils
EasyProcess
ecdsa
EditorConfig
email-validator
Emote
entrypoint2
environ
eventlet
fastapi
fastjsonschema
filelock
Flask
flask-babel
Flask-Compress
Flask-Gravatar
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Paranoid
Flask-Principal
Flask-Security-Too
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
flatbuffers
flowblade
fonttools
future
geocoder
Glances
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
gpg
greenlet
h11
hihi
html-tag-names
html-void-elements
httpagentparser
httpcore
httplib2
httptools
httpx
humanfriendly
idna
importlib-metadata
inflect
isodate
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jaraco.text
jeepney
Jinja2
jmespath
jsbeautifier
json5
jsonschema
kaleido
keyring
kiwisolver
ldap3
lensfun
LibAppArmor
lit
lockfile
lxml
Mako
ManimPango
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
meson
midprint
mlt
more-itertools
MouseInfo
mpmath
msal
msal-extensions
msgpack
msrest
mss
mysql-connector-python
mysqlclient
netsnmp-python
nftables
nh3
nudenet
numpy
oauthlib
onnxruntime
opencv-python-headless
ordered-set
orjson
packaging
pandas
paramiko
passlib
pathspec
pexpect
pgadmin4
Pillow
pip
pip-chill
pkginfo
platformdirs
plotly
ply
portalocker
progressbar2
protobuf
psutil
psycopg
psycopg-binary
psycopg2
ptyprocess
pyaml
pyasn1
pyasn1-modules
PyAutoGUI
pybind11
pycairo
pycodestyle
pycparser
pycups
pycurl
pydantic
pydantic_core
pydantic-extra-types
pydantic-settings
PyGetWindow
Pygments
PyGObject
pyinotify
PyJWT
PyMsgBox
PyNaCl
PyOpenGL
pyotp
pyparsing
pyperclip
pypng
PyQt5
PyQt5-sip
PyRect
pyscreenshot
PyScreeze
pyserial
PySide2
PySide6
PySocks
python-dateutil
python-dotenv
python-engineio
python-jose
python-multipart
python-pam
python-socketio
python-utils
python3-xlib
pytweening
pytz
pywal
PyYAML
qrcode
ratelim
readme-renderer
Reflector
regex
requests
requests-oauthlib
requests-toolbelt
rfc3986
rich
rsa
s3transfer
scour
SecretStorage
setproctitle
setuptools
shiboken2
shiboken6
shiboken6-generator
shtab
simple-websocket
six
sniffio
soupsieve
speaklater3
SQLAlchemy
sqlparse
sshtunnel
starlette
sympy
tabulate
TBB
tenacity
termcolor
tinycss2
tk
tkintermapview
tldr
tomli
torbrowser-launcher
tqdm
trove-classifiers
ttkbootstrap
twine
typing_extensions
tzdata
ua-parser
uc-micro-py
ujson
uritemplate
urllib3
user-agents
uvicorn
uvloop
validate-pyproject
virtualenv
watchdog
watchfiles
webencodings
websockets
Werkzeug
wheel
wsproto
WTForms
yt-dlp
zipp
zstandard
