alembic==1.12.0
annotated-types==0.6.0
anyio==3.7.1
apparmor==3.1.6
appdirs==1.4.4
argon2==0.1.10
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.7.2
attrs==23.1.0
Authlib==1.2.1
autocommand==2.2.2
autopep8==2.0.4
azure-common==1.1.28
azure-core==1.29.4
azure-identity==1.13.0
azure-mgmt-core==1.4.0
azure-mgmt-rdbms==10.1.0
azure-mgmt-resource==23.0.1
azure-mgmt-subscription==3.1.1
Babel==2.13.0
bcrypt==4.0.1
beautifulsoup4==4.12.2
bidict==0.22.1
blinker==1.6.3
boto3==1.28.63
botocore==1.31.63
Brotli==1.1.0
bson==0.5.10
btrfsutil==6.6.3
CacheControl==0.13.1
cachetools==5.3.1
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
conditional==1.5
contourpy==1.1.1
coverage==6.5.0
crispy-bootstrap5==2023.10
cryptography==41.0.7
cssbeautifier==1.14.11
cssselect==1.2.0
cupshelpers==1.0
customtkinter==5.2.1
cycler==0.12.1
darkdetect==0.8.0
dbus-python==1.3.2
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.7
distro==1.8.0
Django==4.2.7
django-crispy-forms==2.1
django-email==0.1.10
django-environ==0.11.2
djlint==1.34.1
dnspython==2.4.2
docopt==0.6.2
docutils==0.20.1
EasyProcess==1.1
ecdsa==0.18.0
EditorConfig==0.12.3
email-validator==2.0.0.post2
Emote==0.0.0
entrypoint2==1.1
environ==1.0
eventlet==0.33.3
fastapi==0.104.0
fastjsonschema==2.19.1
filelock==3.12.4
Flask==2.2.5
flask-babel==3.1.0
Flask-Compress==1.14
Flask-Gravatar==0.5.0
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Migrate==4.0.5
Flask-Paranoid==0.3.0
Flask-Principal==0.4.0
Flask-Security-Too==5.1.2
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
flatbuffers==23.5.26
flowblade==2.12.0
fonttools==4.43.1
future==0.18.3
geocoder==1.38.1
Glances==3.4.0.3
google-api-core==2.12.0
google-api-python-client==2.103.0
google-auth==2.23.3
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.61.0
gpg==1.23.2
greenlet==3.0.0
h11==0.14.0
hihi @ file:///home/ayon/Ayon/sihi
html-tag-names==0.1.2
html-void-elements==0.1.0
httpagentparser==1.9.5
httpcore==0.18.0
httplib2==0.22.0
httptools==0.6.1
httpx==0.25.0
humanfriendly==10.0
idna==3.5
importlib-metadata==6.8.0
inflect==7.0.0
isodate==0.6.1
itsdangerous==2.1.2
jaraco.classes==3.3.0
jaraco.context==4.3.0
jaraco.functools==3.9.0
jaraco.text==3.11.1
jeepney==0.8.0
Jinja2==3.1.2
jmespath==1.0.1
jsbeautifier==1.14.11
json5==0.9.14
jsonschema==2.6.0
kaleido==0.2.1
keyring==23.13.1
kiwisolver==1.4.5
ldap3==2.9.1
lensfun==0.3.4
LibAppArmor==3.1.6
lit==16.0.6.dev0
lockfile==0.12.2
lxml==4.9.2
Mako==1.2.4
ManimPango==0.5.0
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.1
mdurl==0.1.2
meson==1.3.1
midprint @ file:///home/ayon/Documents/midprint/dist/midprint-0.0.3.tar.gz#sha256=0e280c94e16849abfbae52a61797344e73c38e9b74d7b43fcc6ffda514e192df
mlt==0.3.0
more-itertools==10.1.0
MouseInfo==0.1.3
mpmath==1.3.0
msal==1.24.1
msal-extensions==1.0.0
msgpack==1.0.5
msrest==0.7.1
mss==9.0.1
mysql-connector-python==8.1.0
mysqlclient==2.2.0
netsnmp-python==1.0a1
nftables==0.1
nh3==0.2.14
nudenet==3.0.8
numpy==1.26.1
oauthlib==3.2.2
onnxruntime==1.16.3
opencv-python-headless==4.8.1.78
ordered-set==4.1.0
orjson==3.9.9
packaging==23.2
pandas==2.1.2
paramiko==3.3.1
passlib==1.7.4
pathspec==0.12.1
pexpect==4.9.0
pgadmin4==7.7
Pillow==9.5.0
pkginfo==1.9.6
platformdirs==3.11.0
plotly==5.18.0
ply==3.11
portalocker==2.8.2
progressbar2==4.2.0
protobuf==4.21.12
psutil==5.9.6
psycopg==3.1.9
psycopg-binary==3.1.9
psycopg2==2.9.9
ptyprocess==0.7.0
pyaml==23.9.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAutoGUI==0.9.54
pybind11==2.11.1
pycairo==1.25.1
pycodestyle==2.11.1
pycparser==2.21
pycups==2.0.1
pycurl==7.45.2
pydantic==2.4.2
pydantic-extra-types==2.1.0
pydantic-settings==2.0.3
pydantic_core==2.10.1
PyGetWindow==0.0.9
Pygments==2.16.1
PyGObject==3.46.0
pyinotify==0.9.6
PyJWT==2.8.0
PyMsgBox==1.0.9
PyNaCl==1.5.0
PyOpenGL==3.1.6
pyotp==2.9.0
pyparsing==3.1.1
pyperclip==1.8.2
pypng==0.20220715.0
PyQt5==5.15.10
PyQt5-sip==12.13.0
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
pyserial==3.5
PySide2==5.15.11
PySide6==6.6.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-engineio==4.8.0
python-jose==3.3.0
python-multipart==0.0.6
python-pam==2.0.2
python-socketio==5.9.0
python-utils==3.8.1
python3-xlib==0.15
pytweening==1.0.7
pytz==2018.5
pywal==3.3.0
PyYAML==6.0.1
qrcode==7.4.2
ratelim==0.1.6
readme-renderer==42.0
Reflector==2023.6.28.0.36.1
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.6.0
rsa==4.9
s3transfer==0.7.0
scour==0.38.2
SecretStorage==3.3.3
setproctitle==1.3.3
shiboken2==5.15.11
shiboken6==6.6.1
shiboken6-generator==6.6.1
shtab==1.6.5
simple-websocket==1.0.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
speaklater3==1.4
SQLAlchemy==2.0.22
sqlparse==0.4.4
sshtunnel==0.4.0
starlette==0.27.0
sympy==1.12
tabulate==0.9.0
TBB==0.2
tenacity==8.2.3
termcolor==2.3.0
tinycss2==1.2.1
tk==0.1.0
tkintermapview==1.29
tldr==3.2.0
tomli==2.0.1
torbrowser-launcher==0.3.6
tqdm==4.66.1
trove-classifiers==2023.12.1
ttkbootstrap==1.10.1
twine==4.0.2
typing_extensions==4.8.0
tzdata==2023.3
ua-parser==0.18.0
uc-micro-py==1.0.2
ujson==5.9.0
uritemplate==4.1.1
urllib3==1.26.18
user-agents==2.2.0
uvicorn==0.23.2
uvloop==0.19.0
validate-pyproject==0.13.post1.dev0+gb752273.d20230520
virtualenv==20.24.5
watchdog==3.0.0
watchfiles==0.21.0
webencodings==0.5.1
websockets==12.0
Werkzeug==2.2.3
wsproto==1.2.0
WTForms==3.0.1
yt-dlp==2023.11.16
zipp==3.17.0
zstandard==0.22.0
